#header {
        background-color:black;
        color:white;
        text-align:center;
        padding:5px;
    }
    #nav {
        line-height:30px;
        background-color:#eeeeee;
        height: auto;
        width:max-content;
        float:top;
        padding:5px;
        margin: 0 auto;
    }
    #section {
        width:max-content;
        position: relative;left: 0;right: 0px;
        padding:5px;
        margin: 0 auto;
    }
    #footer {
        background-color:black;
        color:white;
        clear:both;
        text-align:center;
        padding:5px;
    }
    ul
    {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    }
    li
    {
    float:left;
    }
    a.nav-item:link,a.nav-item:visited
    {
    display:block;
    width:120px;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#bebebe;
    text-align:center;
    padding:4px;
    text-decoration:none;
    text-transform:uppercase;
    }
    a.nav-item:hover,a.nav-item:active
    {
    background-color:#cc0000;
    }